RewriteEngine On
RewriteBase /gm_v41/

# Blocca .env
<Files ".env">
    Deny from all
</Files>

# CORS
Header set Access-Control-Allow-Origin "*"

# API
RewriteRule ^api/(.*)$ backend/api/index.php [QSA,L]

# Frontend
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ frontend/dist/index.html [L]

